# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Next.js
.next/
out/
build/

# Application Data
backend/data/uploads/*
!backend/data/uploads/.gitkeep
test.db

# Docker
.docker/
*.log

# IDEs
.vscode/
.idea/
.DS_Store
